@{
    ViewBag.Title = "WSWEL - Color Test 2";
}

@section PageCSS{
    <link href="@Url.Content("~/Content/ColorTest2.css")" rel="stylesheet" type="text/css" />
}
<header>
    <div id="logo"></div>
    <div id="logo2"></div>
    <div id="logo3"></div>
    <h1>Where Should We Eat For Lunch?</h1>
</header>
<div id="main" class="contentAlt">
    <h2>Header 2</h2>
    <p>Paragraph text goes here goes text for the paragraph goes here goes text for the paragraph goes here goes text for the paragraph goes here goes text for the paragraph goes </p>
    <div class="button">Button</div>
    <div class="action">Action</div>
</div>
<div id="Div1" class="content">
<div class="content contentInner">
    <h2>Header 2</h2>
    <p>Paragraph text goes here goes text for the paragraph goes here goes text for the paragraph goes here goes text for the paragraph goes here goes text for the paragraph goes </p>
    <div class="button">Button</div>
    <div class="action">Action</div>
</div>
</div>
<div id="Div2" class="contentAlt2">
    <h2>Header 2</h2>
    <p>Paragraph text goes here goes text for the paragraph goes here goes text for the paragraph goes here goes text for the paragraph goes here goes text for the paragraph goes </p>
    <div class="button">Button</div>
    <div class="action">Action</div>
</div>
<div id="Div3" class="contentAlt3">
    <h2>Header 2</h2>
    <p>Paragraph text goes here goes text for the paragraph goes here goes text for the paragraph goes here goes text for the paragraph goes here goes text for the paragraph goes </p>
    <div class="button">Button</div>
    <div class="action">Action</div>
</div>
<footer>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "FourSquare")</li>
        <li>|</li>
        <li>Search</li>
        <li>|</li>
        <li>Outings</li>
        <li>|</li>
        <li>Account</li>
    </ul>
</footer>
