@model WhereShouldWeEatLunch.Controllers.SearchViewModel

@{
    ViewBag.Title = "title";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Where should we eat lunch today?</legend>
        <div class="editor-label"><label for="isWalkingDistance">Should we walk?</label></div>
        <div class="editor-field">@Html.CheckBox("isWalkingDistance", Model.IsWalkingDistance)</div>
        <div class="editor-label">What kind of food are you in the mood for?</div>
        <div class="editor-field">@Html.DropDownList("foodStyle",Model.Styles)</div>
        <p>
            <input type="submit" value="Take me to the foods!" />
        </p>
    </fieldset>
}

@if (Model.SuggestedEatery != null)
{
    <fieldset>
        <legend>Results</legend>
        <div class="label">We recommend @Model.SuggestedEatery.Name</div>
    </fieldset>
}