@model WhereShouldWeEatLunch.Models.EateryModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>For the Realzies?</h3>
<fieldset>

    <div class="display-label">Walking Distance</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsWalkingDistance)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
